*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
}

 
#main{
    width:100px;
    height: 100px;
    margin-left: 20px;
    padding: 30px;
    margin: 20px 30 px 40 px 12 px; /*top right bottom left*/
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1778222013870-030471426e2c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position:center;
}
/*
#car1{
    width:100px;
    heught:120px;
    background-color: red;

}
#car2{
    position: absolute;
    width: 110px;
    height: 90px;
    top: 20%;
    background-color: blueviolet;
}
#car3{
    width: 130px;
    height: 110px;
    background-color: green;
}
*/
#box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
    height: 300px;
    background-color:grey;
}
/*
#chhota{
    position: absolute;
    left: 40%;
    width:100px;
    height: 100px;
    height: 100px;
    background-color: yellow;
}
*/
#box1{
    width:100px;
    height: 100px;
    background-color: rgb(86, 14, 14);
}
#box2{
    width: 100px;
    height: 110px;
    background-color: lavender;
}
#box3{
    width:100px;
    height: 100px;
    background-color: yellowgreen;
}